.products__review__container {
  width: 100%;

  background-color: rgb(255, 255, 255);
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  height: 100vh;
}

.product__reviews__form__heading {
  color: rgba(0, 0, 0, 0.733);
  font: 300 2rem "Roboto";
  text-align: center;
  margin: 5vmax;
  border-bottom: 1px solid gray;
}
.no__product__reviews__heading{
  color: rgba(0, 0, 0, 0.733);
  font: 300 2rem "Roboto";
  text-align: center;
  margin: 5vmax;
  
}
.products__reviews__form > div {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 2rem;
}


@media screen and (max-width: 600px) {
  .products__review__container {
    border-left: none;
    border-top: 1px solid rgba(0, 0, 0, 0.158);
  }
  .review__icon > svg {
    font-size: 18vmax;
    color: tomato;
  }
}
