.profile__container {
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background: white;
  position: fixed;
  top: 0%;
  left: 0;
}
.profile__container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  flex: 1;
}
.profile__container > div:nth-of-type(1) > h1 {
  color: rgba(0, 0, 0, 0.555);
  font: 500 2.2vmax "Roboto";
  transform: translateX(-10vmax) translateY(-2vmax);
}
.profile__container > div:nth-of-type(1) > img {
  width: 20vmax;
  transition: all 0.5s;
  border-radius: 100%;
}
.profile__container > div:nth-of-type(1) > img:hover {
  transform: scale(1.05);
}
.profile__container > div:nth-of-type(1) > a {
  border: none;
  background: tomato;
  font: 400 1vmax "Roboto";
  text-decoration: none;
  padding: 0.5vmax;
  width: 30%;
  margin: 4vmax;
  transition: all 0.5s;
  text-align: center;
  color: white;
}
.profile__container > div:nth-of-type(1) > a:hover {
  background: rgb(204, 78, 56);
}
.profile__container > div:nth-of-type(2) {
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 5vmax;
  box-sizing: border-box;
}
.profile__container > div:nth-of-type(2) > div > h4 {
  color: black;
  font: 400 1.7vmax "Ronboto";
}
.profile__container > div:nth-of-type(2) > div > p {
  color: rgba(0, 0, 0, 0.418);
  margin: 0.2vmax;
  font: 400 1vmax cursive;
}
.profile__container > div:nth-of-type(2) >  div:nth-of-type(4) {
display: flex;
flex-direction: column;
width: 60%;
}
.profile__container > div:nth-of-type(2) >  div:nth-of-type(4) >a{
  border: none;
  transition: all 0.5s;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  background: rgb(68, 68, 68);
  font: 400 1vmax 'Roboto';
  margin: 1vmax 0;

}
.profile__container > div:nth-of-type(2) >  div:nth-of-type(4) >a:hover{
  background: rgb(31, 31, 31);
}
@media screen and (max-width:600px){
  .profile__container{
    flex-direction: column;
  }
  .profile__container > div:nth-of-type(1) > h1{
    font: 500 1.7vmax 'Roboto';
    transform: translateY(-2vmax);
  }
  .profile__container > div:nth-of-type(1) > a{
    padding:1vmax;
    font: 400 1.7vmax 'Roboto';
  }
  .profile__container > div:nth-of-type(2) {
    text-align: center;
    align-items: center;
  }
  .profile__container > div:nth-of-type(2) > div > h4{
    font: 400 2.5vmax 'Roboto';
 
  }
  .profile__container > div:nth-of-type(2) > div > p{
    margin: 0.5vmax;
  font: 400 2vmax cursive;
}
.profile__container > div:nth-of-type(2) >  div:nth-of-type(4) >a{
  padding: 1vmax;
  margin: 2vmax 0;
  font: 400 1.8vmax cursive;
}
}