*{
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.green_Color{
  color: green !important;
}
.red_Color{
  color: red !important ;
}