.order__details__page {
  background: white;
}
.order__details__container > h1 {
  margin: 4vmax 0;
  color: tomato;
  font: 300 3vmax "Roboto";
}
.order__details__container {
  padding: 5vmax;
  padding-bottom: 0%;
}
.order__details__container > p {
  font: 400 1.8vmax "Roboto";
}
.order__details__container__box,
.order__details__cart__items__container {
  margin: 2vmax;
}
.order__details__container__box > div {
  display: flex;
  align-items: center;
  margin: 1vmax 0;
}
.order__details__container__box > div > p {
 
  font: 400 1vmax "Roboto";
}
.order__details__container__box > div > span {
  margin: 0 1vmax;
  font: 100 1vmax;
  color: #575757;
}
.order__details__cart__items > p {
  font: 400 1.8vmax "Roboto";
}
.order__details__cart__items {
  border-top: 1px solid rgba(0, 0, 0, 0.164);
  padding: 2vmax 5vmax;
}
.order__details__cart__items__container > div {
  display: flex;
  font: 400 1vmax "Roboot";
  align-items: center;
 
  margin: 2vmax 0;
}

.order__details__cart__items__container > div > img {
  width: 3vmax;
}
.order__details__cart__items__container > div > a {
  width: 60%;
  color: #575757;
  margin: 0 2vmax;
  text-decoration: none;
}
.order__details__cart__items__container > div > span {
  font: 100 1vmax "Roboto";
  color: #5e5e5e;
}
@media screen and (max-width: 600px){
  .order__details__container > p {
    font: 400 6vw "Roboto";
  }

  .order__details__container__box > div {
    margin: 6vw 0;
  }

  .order__details__container__box > div > p {
    font: 400 4vw "Roboto";
  }
  .order__details__container__box > div > span {
    font: 100 4vw "Roboto";
  }

  .order__details__cart__items > p {
    font: 400 6vw "Roboto";
  }

  .order__details__cart__items__container > div {
    font: 400 4vw "Roboto";
    margin: 4vw 0;
  }

  .order__details__cart__items__container > div > img {
    width: 10vw;
  }

  .order__details__cart__items__container > div > a {
    margin: 2vw;
    width: 30%;
  }

  .order__details__cart__items__container > div > span {
    font: 100 4vw "Roboto";
  }
}
